<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="runtimeDetectors" name="Runtime Detectors" schema="schema/runtimeDetectors.exsd"/>
   <extension-point id="downloadruntimes" name="Download Runtimes" schema="schema/downloadruntimes.exsd"/>
   <extension-point id="downloadRuntimeProvider" name="downloadRuntimeProvider" schema="schema/downloadRuntimeProvider.exsd"/>
   <extension-point id="runtimeInstaller" name="runtimeInstaller" schema="schema/runtimeInstaller.exsd"/>
   <extension-point id="runtimeDetectionResolutionProvider" name="runtimeDetectionResolutionProvider" schema="schema/runtimeDetectionResolutionProvider.exsd"/>
   <extension
         point="org.jboss.tools.rsp.runtime.core.runtimeInstaller">
      <runtimeInstaller
            class="org.jboss.tools.rsp.runtime.core.model.internal.ExtractionRuntimeInstaller"
            id="archive">
      </runtimeInstaller>
      <runtimeInstaller
            class="org.jboss.tools.rsp.runtime.core.model.internal.JavaJarRuntimeInstaller"
            id="installer-jar">
      </runtimeInstaller>
      <runtimeInstaller
            class="org.jboss.tools.rsp.runtime.core.model.internal.BinaryInstaller"
            id="binary">
      </runtimeInstaller>
   </extension>
</plugin>
